video {
    width: 100%;
    height: auto;
    border: 2px solid black;
}


button:disabled {
    background: gray;
    cursor: not-allowed;
}
.webcam-container{
    padding: 0;

}

.video-container {
    position: relative;

}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

video {
    background: black;
    width: 100%   !important;
    height: auto  !important;
    margin: 0;
    border: 0px;
}